.footer {
  margin-top: 70px;
  margin-bottom: 60px;
  display: flex;
  text-align: left;
}

.footer__copyright {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  color: #545454;
  margin: 0;
}

@media screen and (max-width: 1080px) {
  .footer__copyright {
    display: flex;
  }
}

@media screen and (max-width: 800px) {
  .footer__copyright {
    padding-left: 80px;
  }
}

@media screen and (max-width: 600px) {
  .footer__copyright {
    padding-left: 120px;
  }
}

@media screen and (max-width: 480px) {
  .footer__copyright {
    padding-left: 19px;
    font-size: 14px;
    line-height: 16.94px;
  }

  .footer {
    margin-top: 50px;
    margin-bottom: 40px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 350px) {
  .footer__copyright {
    padding-left: 25px;
  }
}
