.header {
  margin-top: 45px;
  border-bottom: 1px solid #545454;
  line-height: 6;
}

@media screen and (max-width: 480px) {
  .header {
    margin: 0;
    line-height: 5;
  }

  .header__logo {
    margin-left: 27px;
    margin-top: 28px;
    height: 24px;
    width: 126px;
  }
}
