.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  padding: 0;
  display: flex;
  /*display:none*/
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal__error {
  color: #ff0000;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  position: absolute;
  margin-top: -25px;
}

.modal_opened {
  display: flex;
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  background-color: #fff;
  margin: auto;
  padding: 34px;
  border-radius: 10px;
  position: relative;
  width: 430px;
}

.modal__close {
  background-image: url(../images/Close-icon.svg);
  border: none;
  background-color: transparent;
  position: absolute;
  top: -45px;
  right: -45px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.modal__close:hover {
  opacity: 60%;
}

.modal__heading {
  color: #000;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  margin-top: 0;
  margin-bottom: 54px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  display: block;
  box-sizing: border-box;
  margin-bottom: 29px;
  height: 27px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 1, 0.1);
  width: 430px;
}

.modal__input_type_error {
  border: none;
  border-bottom: 1px solid rgba(255, 0, 0, 1);
}

.modal__button {
  height: 50px;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  margin-top: 19px;
}

.modal__button:hover {
  cursor: pointer;
  opacity: 80%;
}

.modal__button_disabled {
  color: rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.modal__container_preview {
  background: transparent;
  max-height: 75vh;
  max-width: 75vw;
  padding: 0;
}

.modal__image_preview {
  max-width: 100%;
}

.modal__title_preview {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  padding-left: 4px;
}

@media screen and (max-width: 480px) {
  .modal__container {
    max-width: 255px;
    padding: 15px;
  }

  .modal__close {
    height: 26px;
    width: 26px;
    right: 10px;
  }
  .modal__heading {
    margin-bottom: 75px;
    margin-top: 15px;
    font-size: 18px;
    line-height: 21.78px;
  }

  .modal__input {
    margin-bottom: 30px;
    width: 255px;
  }

  .modal__button {
    margin-top: 15px;
    margin-bottom: 10px;
    height: 46px;
    font-size: 14px;
  }

  .modal__container_preview {
    padding: 0;
  }

  .modal__image_preview {
    width: 240px;
    height: 299px;
    padding-left: 6px;
  }

  .modal__title_preview {
    padding-left: 10px;
  }
  .modal__close_preview {
    right: -20px;
    top: -29px;
  }
}
