@import url(../vendor/normalize.css);

@import url(../vendor/fonts.css);

@import url(../blocks/page.css);

@import url(../blocks/header.css);

@import url(../blocks/profile.css);

@import url(../blocks/card.css);

@import url(../blocks/cards.css);

@import url(../blocks/footer.css);

@media screen and (max-width: 480px) {
  .header__logo {
    margin-left: 27px;
  }

  .profile {
    flex-direction: column;
  }

  .profile__title {
    font-size: 22px;
    line-height: 26.63px;
    padding-top: 25px;
  }

  .profile__description {
    font-size: 14px;
    line-height: 16.94px;
    padding-top: 10px;
    padding-bottom: 30px;
  }

  .profile__info {
    display: grid;
    justify-items: center;
    grid-template-columns: auto;
  }

  .profile__edit-button {
    height: 18px;
    width: 18px;
    margin-top: 25px;
  }
  .profile__add-button {
    margin: 0;
    width: 282px;
  }
}

@media screen and (max-width: 1044px) {
  .footer__copyright {
    padding-left: 80px;
  }
}

@media screen and (max-width: 1080px) {
  .footer__copyright {
    padding-left: 100px;
  }
}
